<form class="flexcol {{cssClass}}" autocomplete="off">

    <!-- Sheet Header -->
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
        </div>
    </header>

    <!-- Sheet Tab Navigation -->
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="stats">Cleric Stats</a>
        <a class="item" data-tab="items">Items</a>
    </nav>

    <!-- Sheet Body -->
    <section class="sheet-body">

        <!-- Description Tab -->
        <div class="tab description" data-group="primary" data-tab="description">
            {{editor biographyHTML target="system.biography" button=true editable=editable engine="prosemirror"}}
        </div>

        <!-- Cleric Stats Tab -->
        <div class="tab stats" data-group="primary" data-tab="stats">
            <h2>Cleric Stats</h2>
            <div class="resource">
                <label>Divine ({{system.Divine.die}}):</label>
                <input type="number" name="system.Divine.value" value="{{system.Divine.value}}" />
            </div>
            <div class="resource">
                <label>Performance ({{system.Performance.die}}):</label>
                <input type="number" name="system.Performance.value" value="{{system.Performance.value}}" />
            </div>
            <div class="resource">
                <label>Rebellion ({{system.Rebellion.die}}):</label>
                <input type="number" name="system.Rebellion.value" value="{{system.Rebellion.value}}" />
            </div>

            <h3>Identidade Sagrada</h3>
            <div class="resource">
                <label>Instrument of Faith:</label>
                <input type="text" name="system.InstrumentOfFaith" value="{{system.InstrumentOfFaith}}" />
            </div>
            <div class="resource">
                <label>Divine Style:</label>
                <input type="text" name="system.DivineStyle" value="{{system.DivineStyle}}" />
            </div>
            <div class="resource">
                <label>Signature Move:</label>
                <input type="text" name="system.SignatureMove" value="{{system.SignatureMove}}" />
            </div>
            <div class="resource">
                <label>Band Power:</label>
                <input type="text" name="system.BandPower" value="{{system.BandPower}}" />
            </div>
        </div>

        <!-- Items Tab -->
        <div class="tab items" data-group="primary" data-tab="items">
            <ol class="item-list">
                {{#each data.items as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control" title="Edit Item" data-action="edit"><i class="fas fa-edit"></i></a>
                        <a class="item-control" title="Delete Item" data-action="delete"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ol>
            <p>
                <a class="item-control" title="Create Item" data-action="create"><i class="fas fa-plus"></i> Add Item</a>
            </p>
        </div>

    </section>
</form>